
  .ul {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    padding: 0;
  }
  .back {
    padding: 0;
    color: black;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .roads {
    padding: 0;
    color: aqua;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
  }

  li {
    float: left;
  }
  
  ul {
    list-style-type: none;
   margin-left : 300px;
    padding: 0;
    overflow: hidden;
  }

  li {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 3px;
  }

