li {
    float: left;
  }
  
  ul {
    list-style-type: none;
   margin-left : 300px;
    padding: 0;
    overflow: hidden;
  }
  
  
  li {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 3px;
  }

